{
  "extends": [
    "eslint:recommended",
    "plugin:prettier/recommended"],
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    },
  "plugins": ["prettier"],
    "env": {
      "es6": true,
      "node": true
    },
    "parserOptions": {
      "ecmaVersion": 2021
    },

  "rules": {
    "prettier/prettier": "error"
  }
}
